*.dcu
*.dll
*.i
__history
*.exe
cache
/Release/Win32/skins/*.asz
lyric
.hg
.idea
*.drc
*.dat
*.7z
*.local
/*.dproj
/LastFMTool/dist/*.zip
/*.mes
OOOPLA~1.DP~
OOOPLA~1.ID~
OOOPLA~1.LO~
OOOPLA~1.ST~
OOOTAG~1.DP~
OOOTAG~1.ID~
OOOTAG~1.LO~
OOOTAG~1.ST~
Release/Win64/Radios/
Release/Win64/Encoders/fdkaac.txt
Release/Win64/Encoders/lame.txt
Release/Win64/Encoders/oggenc.txt
Release/Win64/Encoders/opusenc.txt
Release/Win64/bugreport.txt
Release/Win64/TFileInfo.map
.hg_archival.txt
.hgignore
LastFMTool/__pycache__/lastfmscrobble.cpython-34.pyc
LastFMTool/lastfmscrobble.spec
OooPlayer.identcache
OooPlayer.res
OooPlayer.stat
OooPlayerProjectGroup_prjgroup.tvsconfig
OooPlayer_Icon.ico
OooPlayer_project.tvsconfig
OooTagEditor.identcache
OooTagEditor.res
OooTagEditor.stat
Release/Win32/Encoders/fdkaac.txt
Release/Win32/Encoders/lame.txt
Release/Win32/Encoders/oggenc.txt
Release/Win32/Encoders/opusenc.txt
Release/Win32/OooPlayer.map
Release/Win32/OooTagEditor.map
Release/Win32/Radios/User Favourites.txt
Release/Win32/TFileInfo.map
Release/Win32/TagEditor.map
Release/Win32/bugreport.txt
Release/Win32/cover.jpg
Release/Win32/cover.png
Release/Win32/fileinfo.txt
Release/Win32/lastfm.ini
Release/Win32/lastfm/library.zip
Release/Win32/output.txt
Release/Win32/playlist.json
Release/Win32/position5.ini
Release/Win32/settings.ini
TFileInfo.identcache
TFileInfo.res
TFileInfo.stat
TFileInfo/version.txt
TFileInfo_Icon.ico
TFileInfo_Icon1.ico
TFileInfo_Icon2.ico
TagEditor.identcache
TagEditor.res
Win64/Release/OooTagEditor.map
Win64/Release/TFileInfo.map
lastfmscrobble.spec
nxTrans.cfg
pause.png
play.png
queue.png
Release/Win32/tfileinfo.settings.ini
Release/Win32/tmp
Release/Win32/tmp (2).jpg
Release/Win32/tmp.jpg
Release/Win64/GPL.txt
Release/Win64/OooPlayer.map
Release/Win64/OooTagEditor.map
Release/Win64/ico/1.ico
Release/Win64/ico/2.ico
Release/Win64/ico/3.ico
Release/Win64/lastfm/library.zip
Release/Win64/logo.png
Release/Win64/skins.txt
